// ------------------------------------------------------------------------------
// Copyright 2019 Uwe Arzt, mail@uwe-arzt.de
// SPDX-License-Identifier: Apache-2.0
// ------------------------------------------------------------------------------

$background: #f0f0f0;
$hover: #e0e0e0;

$font-standard: #4a525a;
$font-dimmed: #3a424a;
$font-highlight: #5a626a;
