// ------------------------------------------------------------------------------
// Copyright 2019 Uwe Arzt, mail@uwe-arzt.de
// SPDX-License-Identifier: Apache-2.0
// ------------------------------------------------------------------------------

$background: #4a525a;
$hover: #656565;

$font-standard: #d0d0d0;
$font-dimmed: #a0a0a0;
$font-highlight: #e0e0e0;
