// ------------------------------------------------------------------------------
// Copyright 2019-2023 Uwe Arzt, mail@uwe-arzt.de
// SPDX-License-Identifier: GPL-3.0-or-later
// ------------------------------------------------------------------------------
header {
  display: none;
}
#main > nav {
  display: none;
}
#main > hr {
  display: none;
}
footer {
  display: none;
}

img {
  max-width: 50%;
}
