// ------------------------------------------------------------------------------
// Copyright 2019 Uwe Arzt, mail@uwe-arzt.de
// SPDX-License-Identifier: Apache-2.0
// ------------------------------------------------------------------------------
header {
  display: none;
}
#main > nav {
  display: none;
}
#main > hr {
  display: none;
}
footer {
  display: none;
}

img {
  max-width: 50%;
}