// ------------------------------------------------------------------------------
// Copyright 2019-2024 Uwe Arzt, mail@uwe-arzt.de
// SPDX-License-Identifier: GPL-3.0-or-later
// ------------------------------------------------------------------------------

$background: #4a525a;
$hover: #656565;

$font-standard: #d0d0d0;
$font-dimmed: #a0a0a0;
$font-highlight: #e0e0e0;

// ------------------------------------------------------------------------------------
// ci
$p293: #003da5;
$p291: #9bcbeb;

// ------------------------------------------------------------------------------------
// media definitions
$break-small: 400px;
$break-large: 750px;
$break-max:  1200px;

// ------------------------------------------------------------------------------------
html,
body {
  height: 100%;
  background-color: $background;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  color: $font-standard;
}

body {
  font-size: 1em;
  margin: 4px;

  display: flex;
  flex-flow: column;

  max-width: 100%;

  @media screen and (min-width: $break-max) {
    max-width: $break-max;
    margin-left: calc((100% - #{$break-max}) / 2);
  }
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header table {
  border: none;
}
header tr {
  border: none;
}
header td {
  border: none;
}
header td.logo {
  height: 90px;
  width: 90px;
}
header td.logotext {
  padding-left: 15px;
  font-size: 45px;
}

header img {
  vertical-align: middle;
}

header a {
  text-decoration: none;
}

header a:hover {
  background-color: $background;
}
header > hr {
  color: $font-dimmed;
  width: 100%;
}

#main {
  display: flex;
  flex-flow: column;

  @media screen and (min-width: $break-large) {
    flex-flow: row;
  }
}

#main > nav {
  color: $font-highlight;
  text-align: left;
  font-size: .91em;
  line-height: 1em;
  font-family: "Gill Sans MT",
  "Gill Sans",
  "Gill Sans Std",
  Verdana,
  "Bitstream Vera Sans",
  sans-serif;
  @media screen and (min-width: $break-large) {
    text-align: right;
  }
}

#main > nav li {
  list-style: none;
}

#main > nav a {
  text-decoration: none;
}

#main nav p {
  font-weight: bold;
}

#main > hr {
  width: 100%;
  @media screen and (min-width: $break-large) {
    display: none;
  }
}

#main > article {
  order: -1;
  @media screen and (min-width: $break-large) {
    order: 1;
    margin-left: 15px;
  }
}

footer {
  width: 100%;

  font-size: 0.6em;
  text-align: center;
}
header > hr {
  color: $font-dimmed;
  width: 100%;
}

a {
  text-decoration: underline;
  color: $font-standard;
}

a:hover {
  background-color: $hover;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 12pt;
}

h3 {
  font-size: 11pt;
}

h4 {
  font-size: 10pt;
}

p.post-date {
  color: $font-dimmed;
  font-size: 0.8em;
  margin-bottom: 0px;
}
h2.post-title {
  margin-top: 0px;
}
a.post-link {
  margin-top: 0px;
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
table, th, td {
  border: 1px solid $font-dimmed;
}
th {
  background-color: $hover;
}

pre {
  font-family: 'Source Code Pro', monospace
}

@import url("syntax-theme-dark.css");
