<!-- start footer_include.html -->
<footer class="blog-footer">
	<p>&copy; 2007-2018 by <a href="mailto:mail@uwe-arzt.de">Uwe Arzt</a> under
	<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></p>.
</footer>
<!-- end footer_include.html -->
