<!-- start footer_include.html -->
<footer class="blog-footer">
	<p>&copy; 2007-2018 by <a href="mailto:mail@uwe-arzt.de">Uwe Arzt</a> under <a href="{{ site.base_url }}/bsd-license.html">BSD License</a>
	and/or under <a href="{{ site.base_url }}/bsd-documentation-license.html">BSD Documentation License</a></p>.
</footer>
<!-- end footer_include.html -->
