<!-- start footer_include.html -->
<footer class="blog-footer">
  <p>&copy; 2007-2015 by <a href="mailto:mail@uwe-arzt.de">Uwe Arzt</a> under <a href="bsd-license">BSD License</a>
     and/or under <a href="bsd-documentation-license">BSD Documentation License</a></p>.
</footer>
<!-- end footer_include.html -->
