{% include "_page_head_start.liquid" %}

	<title>Uwes Blog | {{ page.title }}</title>
	{% include "_head_include.liquid" %}

{% include "_page_head_end_body_start.liquid" %}

	<!-- start default.liquid -->
	<div>
		{{ page.content }}
	</div>
	<!-- end default.liquid -->

{% include "_page_body_end.liquid" %}
