title: Actual posts
layout: default.liquid
data:
  shortlink: 42
---
<div >
    {% for post in collections.posts.pages limit:5 %}
     	<div class="blog-post">
     		<h1 class="blog-post-title">{{ post.title }}</h1>
     		<article class="post">
     			{{ post.excerpt }}
     			<footer>
        			<a href={{ post.permalink }}>{{ post.published_date | date: "%d.%m.%Y" }} | Read more →</a>
   				 </footer>
			</article>
    	</div>
    {% endfor %}
</div>
