{% extends "base.html" %}

{%- block header %}
  <title>{{ config.title }}</title>
{%- endblock header -%}

{%- block content %}
  {% for term in terms %}
    <div>
      <a href="{{ term.permalink }}" class="name">{{ term.name }}</a>
      <span class="count">{{ term.pages | length }}</span>
    </div>
  {% endfor %}
{% endblock content %}
