<!-- start navigation_categories_include.html -->
<!--ul>
   <li><a href="categories/other">Other</a></li>
   <li><a href="categories/electronics">Electronics</a></li>
   <ul>
      <li><a href="categories/arm">ARM</a></li-->
      <!--li><a href="categories/teardown">Teardown</a></li-->
   <!--/ul>
   <li><a href="categories/home-automation">Home Automation</a></li>
   <li><a href="categories/os">OS</a></li>
   <ul>
      <li><a href="categories/ios">iOS</a></li>
      <li><a href="categories/linux">Linux</a></li>
      <li><a href="categories/mac-os-x">Mac OS X</a></li>
      <li><a href="categories/ansible">Ansible</a></li>
   </ul>
   <li><a href="categories/programming">Programming</a></li>
   <ul>
      <li><a href="categories/rust">Rust</a></li>
      <li><a href="categories/c">C++</a></li>
      <li><a href="categories/erlang">Erlang</a></li>
      <li><a href="categories/swift">Swift</a></li>
   </ul>
   <li><a href="categories/robotics">Robotics</a></li>
   <ul>
      <li><a href="categories/ros">ROS</a></li-->
      <!--li><a href="categories/mneme">Mneme</a></li-->
    <!--/ul>
   <li><a href="categories/security">Security</a></li>
</ul-->
<!-- end navigation_categories_include.html -->
