</div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    {{ include "_layouts/_navigation_include.liquid" . }}
  </div>

  </div> <!-- row -->

  {{ include "_layouts/_footer_include.liquid" . }}
  </div> <!-- container -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://test.uwe-arzt.de/static/jquery/jquery-2.1.4.min.js"></script>
  <script src="https://test.uwe-arzt.de/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
