<hr/>

<div class="comment">
  <form class="form-comment" role="form" action="http://uwe-arzt.de/cgi-bin/comment-form" method="POST">
    <h3 class="form-comment-heading">Leave a comment:</h3>

    <label class="form-comment-label" for="inputName">Name</label>
    <input name="name" type="text" class="form-control" id="inputName" placeholder="name" required>

    <label class="form-comment-label" for="inputEmail">EMail</label>
    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="email address" required>

    <label class="form-comment-label" for="inputComment">Comment</label>
    <textarea name="comment" class="form-control" id="inputComment" rows="10"></textarea>

    <button class="btn form-comment-button" type="submit">Post Comment</button>
  </form>
</div>
