<!-- Copyright 2019-2024 Uwe Arzt, mail@uwe-arzt.de -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->

<!DOCTYPE html>
<!-- html class="no-js" lang="en" -->
<html lang="en">

<head>
  <link rel="stylesheet" media="screen" href="{{ get_url(path="screen.css") }}">
  <link rel="stylesheet" media="print" href="{{ get_url(path="print.css") }}">

  {%- block header %}
  <title>{{ config.title }}</title>
  {%- endblock header %}

  <link rel="apple-touch-icon-precomposed" href="/graphics/apple-touch-icon.png">
  <link rel="icon" href="/graphics/icon-32x32.png">
  <link rel="icon" href="/graphics/icon-96x96.png">

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- meta http-equiv="Content-Security-Policy" content="default-src https:" / -->
  <meta http-equiv="Referrer-Policy" content="same-origin">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Uwe Arzt">
  <meta name="description" content="Uwes Blog">
</head>

<body>
  <div id="container">

    <header>
      <table>
        <tr>
          <td class="logo"><a href="/">
            <img src="{{ get_url(path="/graphics/apple-touch-icon.png") }}" alt="Logo">
          </a></td>
          <td class="logotext"><a href="/">
            Uwes Blog
          </a></td>
        </tr>
      </table>
      <hr>
    </header>

    <div id="main">
      <hr>
      <nav>
        <p>Projects</p>
        <ul>
          <li><a href="https://github.com/uwearzt/knx_roomsensor_rs">Roomsensor</a></li>
        </ul>
        <p>Reference</p>
        <ul>
          <li><a href="{{ get_url(path="/reference/macos-software") }}/">macOS software</a></li>
          <li><a href="{{ get_url(path="/reference/ios-software") }}/">iOS software</a></li>
          <li><a href="{{ get_url(path="/reference/rust-tips") }}/">Rust tips</a></li>
          <li><a href="{{ get_url(path="/reference/commandline-tips") }}/">Commandline tips</a></li>
          <li><a href="{{ get_url(path="/reference/macos-tips") }}/">macOS tips</a></li>
          <li><a href="{{ get_url(path="/reference/linux-tips") }}/">Linux tips</a></li>
          <li><a href="{{ get_url(path="/reference/rhino3d") }}/">Rhino 3D tips</a></li>
        </ul>
        <p>Old projects</p>
        <ul>
          <li><a href="https://github.com/uwearzt/LaborUSB">LaborUSB</a></li>
        </ul>
        <p>Other</p>
        <ul>
          <li><a href="https://codeberg.org/uwearzt">Codeberg</a></li>
          <li><a href="https://github.com/uwearzt">GitHub</a></li>
          <li><a href="https://www.youtube.com/channel/UCuw65Ij4-o_7oXBorE5hy6A">YouTube</a></li>
          <li><a href="https://www.linkedin.com/in/uwearzt/">LinkedIn</a></li>
          <li><a rel="me" href="https://chaos.social/@uwearzt">Mastodon</a></li>
        </ul>
        <p>Feeds</p>
        <ul>
          <li><a href="{{ get_url(path="/rss.xml") }}">RSS</a></li>
          <!--li><a href="{{ get_url(path="/feed.json") }}">Json</a></li-->
        </ul>
        <p>Legal</p>
        <ul>
          <li><a href="{{ get_url(path="/impressum") }}/">Impressum</a></li>
          <li><a href="{{ get_url(path="/dsgvo") }}/">DSGVO</a></li>
        </ul>
      </nav>

      <article>
        {% block content %}
        {% endblock content %}
      </article>
    </div>

    <footer>
      <hr>
      <p>
        © Copyright 2007-2024 by <a href="mailto:mail@uwe-arzt.de">mail@uwe-arzt.de</a>
        under <a href="https://spdx.org/licenses/GPL-3.0-or-later.html">GNU General Public License v3.0 or later</a>
      </p>
    </footer>

  </div>
</body>

</html>
