{% extends "base.html" %}

{%- block header %}
  <title>{{ config.title }}</title>
{%- endblock header %}

{% block content %}
  <!-- index.html -->
  {% for page in paginator.pages %}
    <article class="index">
      <p class='post-date'>{{ page.date }}</p>
      <a class="post-link" href="{{ page.permalink | safe }}">
        <h2 class= "post-title">{{ page.title }}</h2>
      </a>
    </article>
  {% endfor %}

  {% if paginator.previous %}
    <a class="button" href="{{  paginator.previous}}">« Newer articles</a>
  {% endif %}
  {% if paginator.next %}
    <a class="button" href="{{  paginator.next }}">Older articles »</a>
  {% endif %}

{% endblock content %}
