{% import "_macros.html" as macros %}
{% extends "base.html" %}

{%- block header %}
  <title>{{ config.title }}</title>
{%- endblock header %}

{% block content %}
  <!-- index.html -->
  {% for page in paginator.pages %}
    <article class="homepage">
      <p class='post-meta'></p>
      <a href="{{ page.permalink | safe }}">
        <h2>{{ page.title }}</h2>
      </a>
    </article>
  {% endfor %}

  {% if paginator.previous %}
    <a class="button" href="{{  paginator.previous}}">« Next articles</a>
  {% endif %}
  {% if paginator.next %}
    <a class="button" href="{{  paginator.next }}">Previous articles »</a>
  {% endif %}

{% endblock content %}