{% extends "base.html" %}

{%- block header %}
  <title>{{ page.title }} - {{ config.title }}</title>
{%- endblock header -%}

{%- block content %}
  <!-- page.html -->
  <article>
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}

    Article created {{ page.date }}.
    <a href="https://github.com/uwearzt/site-uwe-arzt/issues/new?title=Comment%20page:%20{{ page.relative_path }}">
      Comment on this post!</a>
  </article>
{% endblock content %}
