{% extends "base.html" %}

{% block header %}
  <title>{{ page.title }} | Uwe Arzt</title>
{% endblock header %}

{% block content %}
  <!-- static. html -->
  <article>
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
  </article>
{% endblock content %}
